.about__title {
  margin: 100px;
}

.about_first-section{
    display: flex;
}
  
.about_first-section_description{
  color: white;
  text-align: right;
  width: 100%;
  font-size: 2rem;
  padding: 6rem 5rem 1rem 5rem;
  font-size: bold;
}
  
.about_second-section_interests{
  text-align: left;
  width: 100%;
  font-size: 2rem;
  padding: 6rem 0 0 0;
  font-size: bold;
}
  
.about_profile-photo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 1rem;
  }
  
.about_plantdroid-gif{
  width: 15rem;
  height: 25rem;
  border-radius: 2.5rem;
  margin: 1rem;
  margin-right:1rem;
  margin-left: auto;
  display:block;
}