.home__container {
  margin: 0 .5rem 3rem 0.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(33,33,33);
  background: linear-gradient(15deg, rgba(33,33,33,1) 0%, rgba(52,52,52,1) 50%, rgba(33,33,33,1) 100%);
}

.home__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 80%;
}

.home__title-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 3rem 1rem 0 1rem;
}

.home__title-greeting{
  font-size: 1rem;
  padding: 0.5rem;
}

.home__title-name{
  font-size: 2.5rem;
  padding-left: .5rem;
  margin: 1rem 0 .5rem 0;
  color: hsla(180, 43%, 39%, 80%);
}

.home__title-job{
  font-size: 1.8rem;
  margin: .4rem 0 0 0;
  padding: .5rem;
  color: hsla(0, 0%, 97%, 60%);
}
.home_section_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: left;
  width: fit-content;
  line-height: 1.3rem;
  text-align: justify;
  margin: 3rem 1rem;
  padding: 0 .5rem;
}

.home__malt-button {
  padding: 1rem;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background-color: hsla(180, 43%, 39%, 80%);
  border-top-right-radius: 5px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 5px;
}

.home__malt-button:hover {
  background-color: white;
}


@media (min-width: 1px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 20000px) {
  .navbar__burguer-menu-portrait {
    display: none;
  }
}

