.home__container {
  margin: 0 .5rem 3rem 0.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 23rem;
  background: rgb(33,33,33);
  background: linear-gradient(15deg, rgba(33,33,33,1) 0%, rgba(52,52,52,1) 50%, rgba(33,33,33,1) 100%);
}
.home__title-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 2rem 1rem;
}

.home__title-greeting{
  font-size: 1rem;
  padding: 0.5rem;
}

.home__title-name{
  font-size: 2.5rem;
  padding-left: .5rem;
  margin: 1rem 0 .5rem 0;
  color: hsla(180, 43%, 39%, 80%);
}

.home__title-job{
  font-size: 1.8rem;
  margin: .4rem 0 0 0;
  padding: .5rem;
  color: hsla(0, 0%, 97%, 60%);
}
.home_section_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 4rem 0;
  justify-content: left;
}

.home__section__description-text {
  width: 100%;
}

.home_section_description-first,
.home_section_description-second{
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;
  margin: 1.6rem 1rem;
  padding: .5rem;
}

@media (min-width: 1px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 20000px) {
  .navbar__burguer-menu-portrait {
    display: none;
  }
}

