.contact_section {
    margin: 0 5rem 1rem 5rem;
    width: auto;
    border: 1px solid white;
  }
  
  input {
    color:hsla(0, 0%, 0%, 90%);
    caret-color: red;  
  }
  
  .contact_section_title {
    font-size: 3rem;
    color: hsla(180, 43%, 39%, 80%);
    margin: 1rem 1rem 1rem 0;
    width: auto;
  }
  
  .contact_section_content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .contact_section_media,
  .contact_section_media a{
    display: flex;
    flex-direction: column;
    width: 6rem;
    align-items: center;
  }
  
  .contact_section_media a {
    width: 100%;
    margin: 0 0 0 2rem;
  }
  
  .contact_section_description {
    padding: 3rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .contact_section_description p, 
  .contact_section_description address{
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 0 0 0 2rem;
    justify-content: left;
    text-align: left;
  }
  
  .contact_section_description p {
    font-size: 1.5rem;
    color: hsla(180, 43%, 39%, 80%);
  }
  
  .contact_section_description address {
    margin: 0.8rem 0 1rem 0;
    padding-left: 3rem;
  }
  
  
  address a:hover {
    text-decoration: underline;
  }
  
  
  div {
    margin-top: 2rem;
  }