.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 90%)	;
  width: 100%;
  position: fixed;
  top: 0;
}

.header__navigation-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 1rem 1rem 1rem;
  margin: 0 0 0 5rem;
}

.header__navigation-list {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  margin-right: 5rem;

}

.header__navigation-list-item {
  display:inline-flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  height: 2rem;
}

a:link {
  color:red;
  text-decoration: none;
}

a:visited {
  text-decoration: dashed;
}

a:active {
  text-decoration: solid;
} 

.header__navigation-list-item:hover {
  text-decoration: none;
  background-color: hsla(180, 43%, 39%, 80%);
  border-radius: 20%;	
}