.header__navigation-desktop{
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  background-color: hsla(0, 0%, 0%, 90%)	;
  position: fixed;
}

/* BURGUER MENU */

.navbar__burguer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  cursor: pointer;
}

.navbar__burguer-menu--dash1 {
  height: 0.1875rem;
  width: 1.5rem;
  margin: 0 1.75rem 0.083rem 0;
  background: white;
}

.navbar__burguer-menu--dash2 {
  height: 0.1875rem;
  width: 1.1875rem;
  margin: 0 2.0625rem 0 0;
  background: white;
}

.navbar__burguer-menu--dash3 {
  height: 0.1875rem;
  width: 0.95rem;
  margin: 0.083rem 2.0625rem 0 0;
  background: white;
}

/*--------------------------------------------*/

.header__navigation-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 1rem 1rem 1rem;
  margin: 0 0 0 5rem;
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  margin-right: 5rem;
}

.header__navigation-list-item {
  display:inline-flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  height: 2rem;
}

a:link {
  color:red;
  text-decoration: none;
}

a:visited {
  text-decoration: dashed;
}

a:active {
  text-decoration: solid;
} 

.header__navigation-list-item:hover {
  text-decoration: none;
  background-color: hsla(180, 43%, 39%, 80%);
  border-radius: 20%;	
}