.footer__title {
    font-size: 0.75rem;
}

.footer__container {
    margin-top: 1rem;
    display: flex;
    height: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }
  
  .footer__container a:hover {
    text-decoration: underline;
  }